*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: none;
}
header{
    background-color: black;
    width: 2000px;
    height: 60px;
    padding: 30px;
    display: block;
    padding: 30px;
    margin-right: 40px;
    
}
header h1{
    color: #ffffff;
    width: 80px;
    height: 80px;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-size: 100%;
    text-indent: -999999999999px;
    float: left;
    margin: 2px 168px 12px 100px;

}
header h1 a{
    display: block;
    width: 100px;
    height: 34px;
    
}
header nav{
    margin-top: 10px;
    margin-right: 50px auto;
}
header li{
    float: left;
    margin-right: 20px;
}
header li a{
    padding: 5px 10px;
    color: #ffffff;
    margin-bottom: 5px;
    position: relative;
}

header li a::before{
    content: " ";
    width: 0;
    height: 1px;
    background-color: #ffffff;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: 2s;
}
header li a:hover::before{
    width: 100%;
}




main{
    padding: 60px;
    padding-bottom: 300px;
}

    
.social{
    width: 80px;
    height:160px; 
    background-image: url(../img/facebook.png);
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    position: fixed;
    top:200px;
    right: 0;
}
.social .facebook, .instagram{
    width: 100%;
    height: 50%;
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
}
.facebook{
    background-image: url(../img/facebook.png);
}
.instagram{
    background-image: url(../img/instagram.png);
}
.facebook:hover{
    background-image: url(../img/fb\ sxvaferi.png);
}
.instagram:hover{
    background-image: url(../img/ins\ sxvaferi.png);
}

article{
    float: left;
    margin-left: 70px;
}
h4 {
    clear: both;
    margin-top: 50px;
    padding-top: 30px;
}

.musicbox{
    width: 250px;
    height: 200px;
    margin-top: 30px;
    border: 2px solid black;
    position: relative;
    
}
.surati{
    width:100%;
    height: 76px;
    background-image: url(../img/sound\ 1@2x.png);
    background-repeat: repeat-x;
    background-size: 25%;
    position: relative;
    margin-top: 50px;
}
.kvadratuka{
    width: 50px;
    height: 50px;
    background-image: url(../img/like\ 1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    top: 0;
    right: 0;
    position: absolute;
}
.musicbox:hover{
    box-shadow: 0 0 10px black;
}
.kvadratuka:hover{
    background-image: url(../img/yellow.png);
}
article a:hover{
    text-decoration: underline;
}

.erti{
    clear: both;
}
.carieli .h3{
    padding-top: 50px;
}
footer{
    height: 200px;
    background-color: black;
    clear: both;
    padding: 30px 700px;
    box-sizing: border-box;
    color: #ffffff;
    
}
footer .noti{
    width:50px;
    height: 50px;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
footer li a{
color: #ffffff;
}


/*------playlist style------------------*/
 
article h5{
    margin-bottom: 50px;
}

.sia1 .sia2{
    float: left;
}
.melodia{
    width: 300px;
    height: 80px;
    background-image: url(../img/sound\ 1@2x.png);
    background-repeat: repeat-x;
    background-size: 25%;
    clear: both;
    box-sizing: border-box;
    margin: 300px 500px 100px 500px;
}
.melodia2{
    width: 300px;
    height: 80px;
    background-image: url(../img/sound\ 1@2x.png);
    background-repeat: repeat-x;
    background-size: 25%;
    clear: both;
    box-sizing: border-box;
    margin: 500px 500px 100px 500px; 
}
article:hover{
    background-color: #b7b7b7;
    box-shadow: 0 0 10px #b7b7b7;

}
.morcha{
    font-size: 50px;
    margin: 200px 200px 50px 400px; 
}







